@model List<PHO_WebApp.Models.SurveySummary>

<div class="wrapper center-block">
    <div class="accordion" id="accordionSurvey" role="tablist" aria-multiselectable="true">

        @for (var i = 0; i < Model.Count(); i++)
        {
            <div class="card">
                <div class="card-header panel-heading-survey" role="tab" id="@("headingSurvey"+i.ToString())">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordionSurvey" href="@("#collapseSurvey"+i.ToString())" aria-expanded="true" aria-controls="@("collapse"+i.ToString())">
                            @Model[i].Survey_Title
                        </a>

                    </h4>

                </div>
                <div id="@("collapseSurvey"+i.ToString())" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@("headingSurvey"+i.ToString())">
                    <div style="padding-left:10px">
                        <div style="float:left; padding-left:10px"><i>@Model[i].Description</i></div><br />
                        <div style="float:left; padding-left:10px">
                            @Html.ActionLink("Details", "ViewSurveyDetails", "Survey", new { id = Model[i].FormId }, null)
                            &nbsp;&nbsp;&nbsp;&#124;&nbsp;&nbsp;&nbsp;
                            <a href="@Url.Action("CompleteNewSurvey", "Survey", new { id = Model[i].FormId })"><img class="" src="~/Images/addnew.jpg" style="width:20px; height:20px" /></a>
                        </div><br />
                        <div style="float:left; padding-left:10px">
                            <p>
                                <label class="dashboard-label dashboard-survey">Total Responses: </label>&nbsp;<b>@Model[i].TotalResponses </b>&nbsp; &nbsp; &nbsp; &#124;&nbsp;&nbsp;&nbsp;
                                <label class="dashboard-label dashboard-survey">Total Completed: </label>&nbsp;<b>@Model[i].CompletedResponses</b>&nbsp; &nbsp; &nbsp; &#124;&nbsp;&nbsp;&nbsp;
                                <label class="dashboard-label dashboard-survey">Total In Progress: </label>&nbsp;<b>@Model[i].InProgressResponses</b>

                            </p>
                            <p><label class="dashboard-label dashboard-survey">Collections In Progress</label></p>
                            <div style="float:left; padding-left:10px">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="dashboard-label dashboard-survey">#</th>
                                            <th scope="col" class="dashboard-label dashboard-survey">Created</th>
                                            <th scope="col" class="dashboard-label dashboard-survey">Modified</th>
                                            <th scope="col" class="dashboard-label dashboard-survey">Percent Complete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var res in Model[i].RecentInProgress)
                                        {
                                            <tr>
                                                <th scope="row">@Html.ActionLink(res.FormResponseId.ToString(), "LoadExistingSurvey", "Survey", new { id = res.FormId, formResponseId = res.FormResponseId.ToString() }, null)</th>
                                                <td>
                                                    @if (res.DateCreated > DateTime.Now.AddYears(-20))
                                                    {
                                                        @res.DateCreated.ToShortDateString();
                                                    }
                                                </td>
                                                <td>
                                                    @if (res.DateModified > DateTime.Now.AddYears(-20))
                                                    {
                                                        @res.DateModified.ToShortDateString();
                                                    }
                                                </td>
                                                <td>@res.PercentCompleted &#37;</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </div>


        }

    </div>
</div>



