@model PHO_WebApp.Models.Initiative

<div style="position:relative">
	@using (Html.BeginForm("SaveInitiative", "Initiative", FormMethod.Post))
	{
		<table class="contentRow" style="width:750px;">
			<tr>
				@*Hidden fields*@
				<td colspan="4">
					@Html.HiddenFor(m => Model.id)
				</td>
			</tr>
			<tr>
				<td>Name: </td>
				<td>@Html.EditorFor(m => Model.Name)</td>
				<td>Owner: </td>
				<td>@Html.EditorFor(m => Model.Owner)</td>
			</tr>
			<tr>
				<td>Abbr Name: </td>
				<td>@Html.EditorFor(m => Model.ShortName)</td>
				<td>Status:</td>
				<td>				
					@Html.DropDownListFor(c=>c.Status, new SelectList(Model.AllInitiativeStatuses, "id", "Name"), "-- Select Status --", new { id = "StatusDropdownList" })
				</td>
			 </tr>
			 <tr>
				 <td>Description: </td>
				 <td colspan="3">@Html.TextAreaFor(m => Model.Description, new { @style = "resize:none; overflow-y:scroll;", maxlength = "500", @rows = "3", @cols = "67" })</td>
			 </tr>
			 <tr>
				 <td>Details: </td>
				 <td colspan="3">@Html.TextAreaFor(m => Model.Details, new { @style = "resize:none; overflow-y:scroll;", maxlength = "8000", @rows = "6", @cols = "67" })</td>
			 </tr>
			 <tr>
				 <td>Primary Aim: </td>
				 <td colspan="3">@Html.TextAreaFor(m => Model.PrimaryAim, new { @style = "resize:none; overflow-y:scroll;", maxlength = "500", @rows = "4", @cols = "67" })</td>
			 </tr>
			 <tr>
				 <td>Secondary Aim: </td>
				 <td colspan="3">@Html.TextAreaFor(m => Model.SecondaryAim, new { @style = "resize:none; overflow-y:scroll;", maxlength = "500", @rows = "4", @cols = "67" })</td>
			 </tr>
			 <tr>
				 <td>Evidence Guidelines: </td>
				 <td colspan="3">@Html.TextAreaFor(m => Model.EvidenceGuidelines, new { @style = "resize:none; overflow-y:scroll;", maxlength = "500", @rows = "4", @cols = "67" })</td>
			 </tr>			
		</table>
		<div style="position:absolute; bottom:3px; right:3px;">
			<input type="submit" name="SaveInitiativeRecord" value="Submit" class="btn btn-primary" />
		</div>	
	}
</div>


