@model PHO_WebApp.Models.Measure
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<div style="position:relative">
	@using (Html.BeginForm("SaveQIMeasure", "Measure", FormMethod.Post))
	{
	<table class="contentRow" style="width:700px; border-spacing:10px;">
		<tr>
			<td colspan="4">
				@Html.HiddenFor(m => Model.MeasureId)
				@Html.ValidationSummary(true)
				@Html.AntiForgeryToken()
			</td>
		</tr>
		<tr>
			<td>Name: </td>
			<td>@Html.EditorFor(m => Model.MeasureName)  @Html.ValidationMessageFor(Model => Model.MeasureName, null, new { @class = "validationText" })</td>
			<td>Owner: </td>
			<td>@Html.EditorFor(m => Model.Owner) @Html.ValidationMessageFor(Model => Model.Owner, null, new { @class = "validationText" }) </td>
		</tr>
		<tr>
			<td>Frequency: </td>
			<td>@Html.EditorFor(m => Model.Frequency) </td>
			<td>Status: </td>
			<td>
				@Html.DropDownListFor(c => Model.Status, new SelectList(Model.AllInitiativeStatuses, "id", "Name"), "-- Select Status --", new { id = "StatusDropdownList" })
				@Html.ValidationMessageFor(Model => Model.Status, null, new { @class = "validationText" })
			</td>
		</tr>
		<tr>
			<td>Factor: </td>
			<td>@Html.EditorFor(m => Model.Factor)</td>
			<td>Updated Date: </td>
			<td>@Html.EditorFor(m => Model.ModifiedDate)</td>
		</tr>
		<tr>
			<td>Numerator: </td>
			<td colspan="6">
				@Html.TextAreaFor(m => Model.Numerator, new { @style = "resize:none;", maxlength = "500", @rows = "2", @cols = "76" })
				@Html.ValidationMessageFor(Model => Model.Numerator, null, new { @class = "validationText" })
			</td>
		</tr>
		<tr>
			<td>Denominator: </td>
			<td colspan="6">
				@Html.TextAreaFor(m => Model.Denominator, new { @style = "resize:none;", maxlength = "500", @rows = "2", @cols = "76" })
				@Html.ValidationMessageFor(Model => Model.Denominator, null, new { @class = "validationText" })
			</td>
		</tr>		
		<tr>
			<td>Description: </td>
			<td colspan="6">
				@Html.TextAreaFor(m => Model.MeasureDesc, new { @style = "resize:none; overflow-y:scroll;", maxlength = "500", @rows = "5", @cols = "76" })
				@Html.ValidationMessageFor(Model => Model.MeasureDesc, null, new { @class = "validationText" })
			</td>
		</tr>
		<tr>
			<td>SQL: </td>
			<td colspan="6">
				@Html.TextAreaFor(m => Model.SQL, new { @style = "resize:none; overflow-y:scroll;", maxlength = "500", @rows = "10", @cols = "76", @readonly = true })
			</td>
		</tr>
		<tr>
			@*<td colspan="2">&nbsp;</td>*@
			<td colspan="4" align="right">
				<input type="submit" name="QIMeasures" value="Submit" class="btn btn-primary" />
			</td>
		</tr>
	</table>			
	}
</div>




