@model PHO_WebApp.ViewModel.FileVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<body>
    @*@using (Html.BeginForm())*@
    @using (Html.BeginForm("Index", "FileVM", FormMethod.Get))
    {
        <div>
            <h5>List of Folders with Files</h5>
        </div>
        <table id="tblFolderList">
            <thead class="table_head">
                <tr>
                    <th scope="col">
                        All Files
                    </th>
                    <th scope="col">
                        My Files
                    </th>
                    <th scope="col">
                        For Providers
                    </th>
                    <th scope="col">
                        For Practice Staff
                    </th>
                    <th scope="col">
                        Favorites
                    </th>
                    <th scope="col">
                        @*<input class="Search" type="text" placeholder=" search files by name" /><i class="fas fa-search"></i>*@
                        @*<input class="search_input" type="text" name="" placeholder="Search files by name">*@
                        @*<input id="searchInput" type="text" placeholder="Search files by name" value=@ViewData["searchString"] />
        <i id="search" class="fa fa-search"></i>*@
                        @Html.TextBox("searchString") <input type="submit" name="submit" value="Search" />
                        @*@Html.TextBox("searchString", new { placeholder = "Search file name" })*@
                        @*@Html.TextBox("searchString", "search files by name", new { style = "width: 200px;", @class = "form-control" }) <input type="submit" name="submit" value="Search" />*@
                    </th>
                </tr>
            </thead>
            <thead class="pretty-table_head table-hover min-font-set table-bordered col-md-12">
                <tr>
                    <th scope="col">
                        FOLDER NAME <i class="fas fa-sort" style="background-color:#00A896"></i>
                    </th>
                    <th scope="col">
                        SUBFOLDER NAME <i class="fas fa-sort"></i>
                    </th>
                    <th scope="col" class="colFileName">
                        FILE NAME <i class="fas fa-sort"></i>
                    </th>
                    <th scope="col">
                        DATE MODIFIED <i class="fas fa-sort"></i>
                    </th>
                    <th scope="col">
                        SIZE
                    </th>
                    @*<th scope="col">
                            Watched
                        </th>*@
                    <th scope="col">
                        Permissions
                    </th>
                    <th scope="col">
                        ACTIONS
                    </th>

                </tr>
            </thead>
            <tbody class="pretty-table-body-font">
                @{
                    string folderName = "";
                    string subfolderName = "";
                    string selected = "";
                    string nextSelected = "";
                    selected = Model.FileList.First().Folder;
                }
                @foreach (var item in Model.FileList)
                {
                    nextSelected = item.Folder;
                    if (nextSelected == selected)
                    {
                        <tr>
                            <td>
                                @if (folderName != item.Folder)
                                {
                                    <i class="fas fa-folder" style="color:darkgreen"></i> @Html.DisplayFor(modelItem => item.Folder)
                                }
                            </td>
                            <td>
                                @if (subfolderName != item.SubFolder)
                                {
                                    <i class="fas fa-folder" style="color:darkgreen"></i> @Html.DisplayFor(modelItem => item.SubFolder)
                                }
                            </td>
                            <td>
                                <a href="@Url.Content(item.FileUrl)" height="20" width="20"><i class="far fa-file-alt" style="color:orangered"></i> @Html.DisplayFor(modelItem => item.FileName)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateModified)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FileSize)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PermissionTo)
                            </td>
                            <td>
                                @if (item.Watch == "1")
                                {
                                    <i class="fas fa-eye" style="color:orangered"></i>
                                }
                                else
                                {
                                    //item.Watch = "Not watched";
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                @if (folderName != item.Folder)
                                {
                                    <i class="fas fa-folder" style="color:darkgreen"></i> @Html.DisplayFor(modelItem => item.Folder)
                                }
                            </td>
                            <td>
                                @if (subfolderName != item.SubFolder)
                                {
                                    <i class="fas fa-folder" style="color:darkgreen"></i> @Html.DisplayFor(modelItem => item.SubFolder)
                                }
                            </td>
                        </tr>
                    }
                    folderName = item.Folder;
                    subfolderName = item.SubFolder;
                    nextSelected = item.Folder; ;
                }

            </tbody>
        </table>
        @*<div>
                <button id="btnAdd" class="btn btn-sm btn-primary pull-right" data-pdsa-action="AddPatient">
                    <i class="fas fa-plus-circle"></i>
                    &nbsp;Add New Patient
                </button>
            </div>*@
    }
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        //$('#filtersubmit').click(function () {
        //    alert('Searching for ' + $('#filter').val());
        //});

        $('#search').on('click up', function () {
            var serachTerm = $(searchInput).val().toLowerCase();

            $('#tblFolderList tbody tr').each(function () {
                var str = $(this).text().toLowerCase();

                if (str.indexOf(serachTerm) == -1) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    })
</script>


