
@{
	ViewBag.Title = "Data Dictionary";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Data Dictionary</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="float:left">
                <h2>Data Dictionary</h2>
                @Html.ActionLink("Refresh Metadata", "DataDictionaryUpdate", "HomeController", new { @class = "btn btn-primary" })
            </div>

            <div class="col-md-6" style="float:right">
                <h3>Search</h3>
                <input text="" class="form-control search" id="search" />
            </div>


        </div>

        <br />
        <br />
        <div>

            <table id="tblDataDictionary" class="table table-sm table-responsive table-condensed table-hover table-bordered table-striped" style="border:hidden;">


                <thead class="black white-text">
                    <tr class="d-flex pho-table-data" style="border:hidden;">
                        <th class="pho-table-data" scope="col" style="border:hidden;">Item Id</th>
                        <th class="pho-table-data" scope="col" style="border:hidden;">Database Name</th>
                        <th class="pho-table-data" scope="col" style="border:hidden;">SchemaName</th>
                        <th class="pho-table-data" scope="col" style="border:hidden;">ObjectName</th>
                        <th class="pho-table-data" scope="col" style="border:hidden;">Object Type</th>
                        <th class="pho-table-data" scope="col" style="border:hidden;">Column Name</th>
                        <th class="pho-table-data" scope="col" style="border:hidden;">SQLColumn Description </th>
                        <th class="pho-table-data" scope="col" style="border:hidden;">Nullable</th>
                        <th class="pho-table-data" scope="col" style="border:hidden;">Data Type</th>
                        <th class="pho-table-data" scope="col" style="border:hidden;">PHI Flag</th>
                        <th class="pho-table-data" scope="col" style="border:hidden;">Business Definition</th>
                        <th class="pho-table-data" scope="col" style="border:hidden;">Actions</th>
                    </tr>
                </thead>
                <tbody class="table-striped table-bordered table-hover table-sm table-condensed">
                    @using (Html.BeginForm())
                    {
                        <tr class="filterRow pho-table-data" style="border:hidden;">
                            <td style="border:hidden;">Filter</td>
                            <td style="border:hidden;">@Html.DropDownList("DatabaseName", ViewBag.DatabaseNameOptions as List<SelectListItem>, new { id = "DatabaseNameFilter", @class = "DatabaseNameFilter" })</td>
                            <td style="border:hidden;">@Html.TextBox("SchemaName", null, new { id = "SchemaNameFilter", @class = "SchemaNameFilter", size = "20" })</td>
                            <td style="border:hidden;">@Html.TextBox("ObjectName", null, new { id = "ObjectNameFilter", @class = "ObjectNameFilter", size = "20" })</td>
                            <td style="border:hidden;">@Html.TextBox("ObjectType", null, new { id = "ObjectTypeFilter", @class = "ObjectTypeFilter", size = "20" })</td>
                            <td style="border:hidden;">@Html.TextBox("ColumnName", null, new { id = "ColumnNameFilter", @class = "ColumnNameFilter", size = "20" })</td>
                            <td style="border:hidden;">@Html.TextBox("SQLColumnDescription", null, new { id = "SQLColumnFilter", @class = "SQLColumnFilter", size = "20" })</td>
                            <td style="border:hidden;">@Html.DropDownList("IsNullable", ViewBag.IsNullableOptions as List<SelectListItem>, new { id = "IsNullableFilter", @class = "IsNullableFilter" })</td>
                            <td style="border:hidden;">@Html.TextBox("DataType", null, new { id = "DataTypeFilter", @class = "DataTypeFilter", size = "20" })</td>
                            <td style="border:hidden;">@Html.DropDownList("PHIFlag", ViewBag.PHIOptions as List<SelectListItem>, new { id = "PHIFlagFilter", @class = "PHIFlagFilter" })</td>
                            <td style="border:hidden;">@Html.TextBox("BusinessDefinition", null, new { id = "BusinessDefinitionFilter", @class = "BusinessDefinitionFilter", size = "20" })</td>
                            <td style="border:hidden;"></td>
                        </tr>
                    }
                    @{ foreach (System.Data.DataRow dr in ViewBag.DataDictionary.Rows)
                        {
                            <tr class="contentRow pho-table-data" style="border:hidden;">
                                <td class="skDataDictionary" style="border:hidden;">
                                    <span>@dr["skDataDictionary"]</span>
                                </td>
                                <td class="DatabaseName" style="border:hidden;">
                                    <span>@dr["DatabaseName"]</span>
                                    @*<input type="text" value="@dr["DatabaseName"]" />*@
                                    @*<input type="text" id="txtDatabaseName" value="@dr["DatabaseName"]" style="display:none" />*@
                                </td>
                                <td class="SchemaName" style="border:hidden;">
                                    <span>@dr["SchemaName"]</span>
                                    @*<input type="text" value="@dr["SchemaName"]">*@
                                    @*<input type="text" id="txtSchemaName" value="@dr["SchemaName"]" style="display:none" />*@
                                </td>
                                <td class="ObjectName" style="border:hidden;">
                                    <span>@dr["ObjectName"]</span>
                                    @*<input type="text" value="@dr["ObjectName"]"/>*@
                                    @*<input type="text" id="txtObjectName" value="@dr["ObjectName"]" style="display:none" />*@
                                </td>
                                <td class="ObjectType" style="border:hidden;">
                                    <span>@dr["ObjectType"]</span>
                                    @*<input type="text" value="@dr["ObjectType"]" />*@
                                    @*<input type="text" id="txtObjectType" value="@dr["ObjectType"]" style="display:none" />*@
                                </td>
                                <td class="ColumnName" style="border:hidden;">
                                    <span style="width:unset">@dr["ColumnName"]</span>
                                    @*<input type="text" value="@dr["ObjectType"]" />*@
                                    @*<input type="text" id="txtColumnName" value="@dr["ColumnName"]" style="display:none" />*@
                                </td>
                                <td class="SQLColumnDesc" style="border:hidden;">
                                    <span class="col-sm-push-11">@dr["SQLColumnDesc"]</span>
                                    @*<input type="text" value="@dr["ObjectType"]" />*@
                                    @*<input type="text" id="txtSQLColumnDesc" value="@dr["SQLColumnDesc"]" style="display:none" />*@
                                </td>
                                <td class="IsNullable" style="border:hidden;">
                                    <span>@dr["IsNullable"]</span>
                                    @*<input type="text" value="@dr["ObjectType"]" />*@
                                    @*<input type="text" id="txtIsNullable" value="@dr["IsNullable"]" style="display:none" />*@
                                </td>
                                <td class="DataType" style="border:hidden;">
                                    <span>@dr["DataType"]</span>
                                    @*<input type="text" value="@dr["ObjectType"]" />*@
                                    @*<input type="text" id="txtDataType" value="@dr["DataType"]" style="display:none" />*@
                                </td>
                                <td class="PHIFlag" style="border:hidden;">
                                    <span id="PHIFlagId">@dr["PHIFlag"]</span>
                                    @*<input type="text" value="@dr["ObjectType"]" />*@
                                    @*<input type="text" id="txtPHIFlag" value="@dr["PHIFlag"]" style="display:none" />*@
                                    <select id="selPHIFlag" name="selPHIFlag" hidden>
                                        <option value="-1">-- please select --</option>
                                        <option value="1">True</option>
                                        <option value="0">False</option>
                                    </select>
                                </td>

                                <td class="BusinessDefinition" style="border:hidden;">
                                    <span>@dr["BusinessDefinition"]</span>
                                    <input type="text" id="txtBusinessDefinition" value="@dr["BusinessDefinition"]" style="display:none" />
                                </td>
                                <td colspan="3" style="border:hidden;">
                                    <a class="Edit" id="btnEdit" href="javascript:;">Edit</a>
                                    <a class="Update" id="btnUpdate" href="javascript:;" style="display:none">Save</a>
                                    <a class="Cancel" id="btnCancel" href="javascript:;" style="display:none">Cancel</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

	<script type="text/javascript">

		$(document).ready(function () {
			// Handler for .ready() called.
			var str;
			$('[Class="Edit"]').click(function () {
				//$("#PHIFlagId").hide();
				//$("#selPHIFlag").show();
				var row = $(this).closest("tr");

				$("td", row).each(function () {
					//str = $(this).find(".PHIFlag").text();
					if ($(this).find("input").length > 0) {
						$(this).find("input").show();
						$(this).find("span").hide();
					}

					if ($(this).find("select").length > 0) {
						$(this).find("select").show();
						//$(this).find("#PHIFlagId").show();
						$(this).find("span").hide();
					}
				});
				row.find(".Update").show();
				row.find(".Cancel").show();
				$(this).hide();
			});

			//Update event handler.
			$('[Class="Update"]').click(function () {
				var row = $(this).closest("tr");
				$("td", row).each(function () {

					//$("select option").hide();
					if ($(this).find("input").length > 0) {
						var span = $(this).find("span");
						var input = $(this).find("input");
						span.html(input.val());
						span.show();
						input.hide();
					}

					if ($(this).find("select").length > 0) {
						var span = $(this).find("span");
						var selectVal = $(this).find("select option:selected").text();
						var select = $(this).find("select");
						//check if user doesn't select true or false
						if (selectVal.length > 6) {
							span.html();
						}
						else {
							span.html(selectVal);
						}
						//span.html(selectVal);
						span.show();
						//selectVal.hide();
						select.hide();
					}
					////$("select option:selected").wrap('span');

				});
				row.find(".Edit").show();
				row.find(".Cancel").hide();

				$(this).hide();
				//$("#selPHIFlag").hide();

				var dd = {};

				dd.skDataDictionary = row.find(".skDataDictionary").find("span").html();
				//dd.DatabaseName = row.find(".DatabaseName").find("span").html();
				//dd/.SchemaName = row.find(".SchemaName").find("span").html();
				//dd.ObjectName = row.find(".ObjectName").find("span").html();
				//dd.ObjectType = row.find(".ObjectType").find("span").html();
				dd.PHIFlag = row.find(".PHIFlag").find("span").html();
				dd.BusinessDefinition = row.find(".BusinessDefinition").find("span").html();

				$.ajax({
					type: "POST",
					url: '@Url.Action("UpdateDataDictionary", "Home")', 
					data: '{dd:' + JSON.stringify(dd) + '}',
					contentType: "application/json; charset=utf-8",

					dataType: "json"

				});
			});

			//Cancel event handler.
			$('[Class="Cancel"]').click(function () {
				//alert('okay. I am here.');
				var row = $(this).closest("tr");
				$("td", row).each(function () {
					if ($(this).find("input").length > 0) {
						var span = $(this).find("span");
						var input = $(this).find("input");
						input.val(span.html());
						span.show();
						input.hide();
					}

					if ($(this).find("select").length > 0) {
						var span = $(this).find("span");
						var selectVal = $(this).find("select option:selected").text();
						var select = $(this).find("select");
						span.html();
						span.show(selectVal);
						//selectVal.hide();
						select.hide();
					}

				});
				row.find(".Edit").show();
				row.find(".Update").hide();
				$(this).hide();
			});

			//search and filter function
			//$('.search').on('keyup', function () {
			//	var serachTerm = $(this).val().toLowerCase();

			//	$('#tblDataDictionary tbody tr').each(function () {
			//		var str = $(this).text().toLowerCase();

			//		if (str.indexOf(serachTerm) == -1) {
			//			$(this).hide();
			//		}
			//		else {
			//			$(this).show();
			//		}
   //             });                                             
   //         });

            //Event Handler assignment
            $('.search').on('change keyup copy paste cut', null, FilterAllColumns);
            $('.DatabaseNameFilter').on('change keyup copy paste cut', null, FilterAllColumns);
            $('.SchemaNameFilter').on('change keyup copy paste cut', null, FilterAllColumns);
            $('.ObjectNameFilter').on('change keyup copy paste cut', null, FilterAllColumns);
            $('.ObjectTypeFilter').on('change keyup copy paste cut', null, FilterAllColumns);
            $('.ColumnNameFilter').on('change keyup copy paste cut', null, FilterAllColumns);
            $('.SQLColumnFilter').on('change keyup copy paste cut', null, FilterAllColumns);
            $('.IsNullableFilter').on('change keyup copy paste cut', null, FilterAllColumns);
            $('.DataTypeFilter').on('change keyup copy paste cut', null, FilterAllColumns);
            $('.PHIFlagFilter').on('change keyup copy paste cut', null, FilterAllColumns);
            $('.BusinessDefinitionFilter').on('change keyup copy paste cut', null, FilterAllColumns);


        }); //End of the whole "document ready" event script

        function ShowAllRows()
        {
            $('#tblDataDictionary tbody tr').each(function () {
                $(this).show();
            });    
        }

        function FilterAllColumns() {

            //First, we have to show every row. Because we'll gradually hide rows for each filter.
            ShowAllRows();

            //Now we can filter based on each filter field, in turn.
            if ($('.search').val()) {
                SearchTable('#search', '#tblDataDictionary tr.contentRow');
            }
            if ($('.DatabaseNameFilter').val()) {
                FilterByColumn('#DatabaseNameFilter', '#tblDataDictionary td.DatabaseName');
            }
            if ($('.SchemaNameFilter').val()) {
                FilterByColumn('#SchemaNameFilter', '#tblDataDictionary td.SchemaName');
            }
            if ($('.ObjectNameFilter').val()) {
                FilterByColumn('#ObjectNameFilter', '#tblDataDictionary td.ObjectName');
            }
            if ($('.ObjectTypeFilter').val()) {
                FilterByColumn('#ObjectTypeFilter', '#tblDataDictionary td.ObjectType');
            }
            if ($('.ColumnNameFilter').val()) {
                FilterByColumn('#ColumnNameFilter', '#tblDataDictionary td.ColumnName');
            }
            if ($('.SQLColumnFilter').val()) {
                FilterByColumn('#SQLColumnFilter', '#tblDataDictionary td.SQLColumnDescription');
            }
            if ($('.IsNullableFilter').val()) {
                FilterByColumn('#IsNullableFilter', '#tblDataDictionary td.IsNullable');
            }
            if ($('.DataTypeFilter').val()) {
                FilterByColumn('#DataTypeFilter', '#tblDataDictionary td.DataType');
            }
            if ($('.PHIFlagFilter').val()) {
                FilterByColumn('#PHIFlagFilter', '#tblDataDictionary td.PHIFlag');
            }
            if ($('.BusinessDefinitionFilter').val()) {
                FilterByColumn('#BusinessDefinitionFilter', '#tblDataDictionary td.BusinessDefinition');
            }
        }


        function SearchTable(searchID, classLookup) {
            var searchValue = $(searchID).val().toLowerCase().trim();
            $(classLookup).each(function () {
                var str = $(this).text().toLowerCase().trim();
                if (str.search(searchValue) == -1) {
                    $(this).hide();
                }
            });
        }

        function FilterByColumn(searchID, classLookup) {
            var searchValue = $(searchID).val().toLowerCase().trim();

            $(classLookup).each(function () {
                var str = $(this).text().toLowerCase().trim();
                //alert('str: ' + str + ' searchValue: ' + searchValue + '');
                //alert(str.search(searchValue));
                //return false;
                if (str.search(searchValue) == -1) {
                    $(this).parent().hide();
                }


            });
        }

	</script>
</body>
</html>
