
@{
	ViewBag.Title = "Data Dictionary";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Data Dictionary</h2>

<h2>List of Data Dictionary Records</h2>

<table id="dtBasicExample" class="table table-responsive table-hover table-bordered table-sm">	
	<thead class="black white-text">
		<tr>
			<th scope="col">Item Id</th>
			<th scope="col">Database Name</th>
			<th scope="col">Schema Name</th>
			<th scope="col">Object Name</th>
			<th scope="col">Object Type</th>
			<th scope="col">Column Name</th>
			<th scope="col">SQL Column Description </th>
			<th scope="col">Is Nullable</th>
			<th scope="col">Data Type</th>
			<th scope="col">PHI Flag</th>
			<th scope="col">Business Definition</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody class="table-striped ">
        @using (Html.BeginForm())
        {
            <tr>
                <td>Filter</td>
                <td>@Html.DropDownList("DatabaseName", ViewBag.DatabaseNameOptions as List<SelectListItem>)</td>
                <td>@Html.TextBox("SchemaName")</td>
                <td>@Html.TextBox("ObjectName")</td>
                <td>@Html.TextBox("ObjectType")</td>
                <td>@Html.TextBox("ColumnName")</td>
                <td>@Html.TextBox("SQLColumnDescription")</td>
                <td>@Html.DropDownList("IsNullable", ViewBag.IsNullableOptions as List<SelectListItem>)</td>
                <td>@Html.TextBox("DataType")</td>
                <td>@Html.DropDownList("PHIFlag", ViewBag.PHIOptions as List<SelectListItem>)</td>
                <td>@Html.TextBox("BusinessDefinition")</td>
                <td><input type="submit" value="Filter" /></td>
            </tr>
        }

		@{
			foreach (System.Data.DataRow dr in ViewBag.DataDictionary.Rows)
			{
				<tr>
					@if (dr["skDataDictionary"] == ViewBag.SelectedID)
					{
						<td>@dr["skDataDictionary"]</td>
						<td>@dr["DatabaseName"]</td>
						<td>@dr["SchemaName"]</td>
						<td>@dr["ObjectName"]</td>
						<td>@dr["ObjectType"]</td>
						<td>@dr["ColumnName"]</td>
						<td>@dr["SQLColumnDesc"]</td>
						<td>@dr["IsNullable"]</td>
						<td>@dr["DataType"]</td>
						<td>@dr["PHIFlag"]</td>
						<td>@dr["BusinessDefinition"]</td>

						<td>
							<button type="submit" name="submit" value="Save">Save</button>
							<button type="submit" name="submit" value="Cancel">Cancel</button>
						</td>
					}
					else
					{
						<td>@dr["skDataDictionary"]</td>
						<td>@dr["DatabaseName"]</td>
						<td>@dr["SchemaName"]</td>
						<td>@dr["ObjectName"]</td>
						<td>@dr["ObjectType"]</td>
						<td>@dr["ColumnName"]</td>
						<td>@dr["SQLColumnDesc"]</td>
						<td>@dr["IsNullable"]</td>
						<td>@dr["DataType"]</td>
						<td>@dr["PHIFlag"]</td>
						<td>@dr["BusinessDefinition"]</td>

						<td>
							@Html.ActionLink("Edit", "Edit", new { id = dr["skDataDictionary"] })
						</td>
					}
				</tr>
				}
			}
	</tbody>
</table>
@*</body>
</html>*@

