@model PHO_WebApp.Models.Section
@{
    Layout = null;
}

@* Begin Physician Lookup *@


@Html.HiddenFor(m => m.PhysicianLinkTypeId)
@Html.HiddenFor(m => m.PhysicianStaffId)

@if (Model.PhysicianLinkType == PHO_WebApp.Models.PhysicianLinkTypeEnum.Allowed
|| Model.PhysicianLinkType == PHO_WebApp.Models.PhysicianLinkTypeEnum.Required)
{

    <div class="row" style="margin-bottom:5px;">
        <div class="col">
            <div id="@("LinkPanel_" + Model.SectionUniqueId)">
                <div>
                    <p>
                        <h5>Physician Link</h5>
                        <i>Requires a link to an existing practice physician. Select a physician below.</i>
                    </p>
                    <div class="@("input-group collapse " + (Model.PhysicianStaffId == 0 ? "show" : "hide"))" id="@("PhysicianLinkPanel_" + Model.SectionUniqueId + "_Set")">
                        <label for="txtPhysician">Physician Lookup: </label>
                        <input type="text" id="@("txtPhysician_" + Model.SectionUniqueId)" name="PhysicianName" style="font-style:italic" placeholder="Enter search term here" />
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <input type="hidden" name="@("PhysicianStaffId_" + Model.SectionUniqueId)" id="@("PhysicianStaffId_" + Model.SectionUniqueId)" value="@(Model.PhysicianStaffId)" />
                    </div>
                    <div class="@("input-group collapse " + (Model.PhysicianStaffId > 0 ? "show" : "hide"))" id="@("PhysicianLinkPanel_" + Model.SectionUniqueId + "_Display")">
                        <strong id="@("lblPhysicianLinkDisplay_" + Model.SectionUniqueId)" style="font-weight:bold">@(Model.PhysicianStaffId > 0 ? "Linked: " + Model.PhysicianStaffId : "")</strong>&nbsp;
                        <a class="btn btn-primary" data-toggle="collapse" onclick="@("togglePhysicianLink('" + Model.SectionUniqueId + "')")" href="#" role="button" aria-expanded="false" aria-controls="@("LinkPanel_" + Model.SectionUniqueId)">Reset</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*End Physician Lookup*@




    <script type="text/javascript">
        $(document).ready(function () {
            registerPhysicianLinkAutocomplete('@(Model.SectionUniqueId)');
        });

    </script>

}

