@using PHO_WebApp.Models;
@model PHO_WebApp.Models.SurveySummary
@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
    HtmlHelper.ClientValidationEnabled = false;
}
<h4>@Html.ActionLink("Back", "Index")</h4>
<h2>@Model.Survey_Title - Details</h2>
<p><i>@Model.Description</i></p>
<p>
    <b>Total Responses:</b> @Model.TotalResponses &nbsp; &nbsp; &nbsp; &#124;&nbsp;&nbsp;&nbsp;
    <b>Total Completed:</b> @Model.CompletedResponses &nbsp; &nbsp; &nbsp; &#124;&nbsp;&nbsp;&nbsp;
    <b>Total In Progress:</b> @Model.InProgressResponses

</p>
<div class="container">
    <div class="row">
        <div class="col-md-6" style="float:left">
            <h2>Completed Data Collections</h2>
        </div>

        <div class="col-md-6" style="float:right">
            <h3>Search</h3>
            <input text="" class="form-control search" id="search" />
        </div>


    </div>

    <br />
    <div>

        <table id="tblCompleted" class="table table-sm table-responsive table-condensed table-hover table-bordered table-striped" style="border:hidden;">

            <thead class="black white-text">
                <tr class="d-flex pho-table-data" style="border:hidden;">
                    <th class="pho-table-data" scope="col" style="border:hidden;">Id</th>
                    <th class="pho-table-data" scope="col" style="border:hidden;">Collected On</th>
                    <th class="pho-table-data" scope="col" style="border:hidden;">Modified On</th>
                    <th class="pho-table-data" scope="col" style="border:hidden;">Completed On</th>
                    <th class="pho-table-data" scope="col" style="border:hidden;">Percent Complete</th>
                    <th class="pho-table-data" scope="col" style="border:hidden;">Completed</th>
                </tr>
            </thead>
            <tbody class="table-striped table-bordered table-hover table-sm table-condensed">

                @{
                    foreach (SurveyFormResponse row in ViewBag.CompletedSurveys)
                    {
                        <tr class="contentRow pho-table-data" style="border:hidden;">
                            <td class="FormResponseId" style="border:hidden;">
                                <span>@row.FormResponseId.ToString()</span>
                            </td>
                            <td class="DateCreated" style="border:hidden;">
                                <span>@row.DateCreated.ToShortDateString()</span>
                            </td>
                            <td class="DateModified" style="border:hidden;">
                                <span>
                                    @row.DateModified.ToShortDateString()
                                </span>
                            </td>
                            <td class="DateCompleted" style="border:hidden;">
                                <span>@row.DateCompleted.ToShortDateString()</span>
                            </td>
                            <td class="PercentCompleted" style="border:hidden;">
                                <span>@row.PercentCompleted.ToString()</span>
                            </td>
                            <td class="Completed" style="border:hidden;">
                                <span>@row.Completed.ToString()</span>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div>
        <div class="col-md-6" style="float:left">
            <h2>In Progress Data Collections</h2>
        </div>

        <table id="tblInProgress" class="table table-sm table-responsive table-condensed table-hover table-bordered table-striped" style="border:hidden;">

            <thead class="black white-text">
                <tr class="d-flex pho-table-data" style="border:hidden;">
                    <th class="pho-table-data" scope="col" style="border:hidden;">Id</th>
                    <th class="pho-table-data" scope="col" style="border:hidden;">Collected On</th>
                    <th class="pho-table-data" scope="col" style="border:hidden;">Modified On</th>
                    <th class="pho-table-data" scope="col" style="border:hidden;">Completed On</th>
                    <th class="pho-table-data" scope="col" style="border:hidden;">Percent Complete</th>
                    <th class="pho-table-data" scope="col" style="border:hidden;">Completed</th>
                </tr>
            </thead>
            <tbody class="table-striped table-bordered table-hover table-sm table-condensed">

                @{
                    foreach (SurveyFormResponse row in ViewBag.InProgressSurveys)
                    {
                        <tr class="contentRow pho-table-data" style="border:hidden;">
                            <td class="FormResponseId" style="border:hidden;">
                                <span>@row.FormResponseId.ToString()</span>
                            </td>
                            <td class="DateCreated" style="border:hidden;">
                                <span>@row.DateCreated.ToShortDateString()</span>
                            </td>
                            <td class="DateModified" style="border:hidden;">
                                <span>
                                    @row.DateModified.ToShortDateString()
                                </span>
                            </td>
                            <td class="DateCompleted" style="border:hidden;">
                                <span>@row.DateCompleted.ToShortDateString()</span>
                            </td>
                            <td class="PercentCompleted" style="border:hidden;">
                                <span>@row.PercentCompleted.ToString()</span>
                            </td>
                            <td class="Completed" style="border:hidden;">
                                <span>@row.Completed.ToString()</span>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>





