@model List<PHO_WebApp.Models.SurveySummary>
@{
    ViewBag.Title = "Surveys";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Available Data Collections</h2>

<div>
    <br />
        @foreach (var item in Model)
        {
            <hr />
            <div>
                <h4>@Html.ActionLink(item.Survey_Title, "ViewSurveyDetails", new { id = item.FormId }) &nbsp;&nbsp;&nbsp;&#124;&nbsp;&nbsp;&nbsp; <a href="@Url.Action("Display", "Survey", new { id = item.FormId })"><i class="fa fa-plus"></i></a></h4>
                                
                <p><i>@item.Description</i></p>
                <div>
                    <p>
                        <b>Total Responses:</b> @item.TotalResponses &nbsp; &nbsp; &nbsp; &#124;&nbsp;&nbsp;&nbsp;
                        <b>Total Completed:</b> @item.CompletedResponses &nbsp; &nbsp; &nbsp; &#124;&nbsp;&nbsp;&nbsp;
                        <b>Total In Progress:</b> @item.InProgressResponses

                    </p>
                    <p><b>Collections In Progress</b></p>
                    <table width="700">
                        <tr>
                            <td><b>Id</b></td>
                            <td><b>Created</b></td>
                            <td><b>Modified</b></td>
                            <td><b>Percent Complete</b></td>
                        </tr>
                        @foreach (var res in item.RecentInProgress)
                        {
                            <tr>
                                <td>@Html.ActionLink(res.FormResponseId.ToString(), "Display", new { id = res.FormId, formResponseId = res.FormResponseId.ToString() })</td>
                                <td>
                                    @if (res.DateCreated > DateTime.Now.AddYears(-20))
                                    {
                                        @res.DateCreated.ToShortDateString();
                                    }
                                </td>
                                <td>
                                    @if (res.DateModified > DateTime.Now.AddYears(-20))
                                    {
                                        @res.DateModified.ToShortDateString();
                                    }
                                </td>
                                <td>@res.PercentCompleted &#37;</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <br />
        }
</div>