@model PHO_WebApp.Models.Cohort

<table width="100%" border="1">
	<tr>
		<td style="font-weight:bold">Cohort Name:</td>
		<td>@Html.DisplayFor(model => model.Name)</td>
		<td style="font-weight:bold">ABBR: </td>
		<td>@Html.DisplayFor(model => model.ShortName)<td>
		<td style="font-weight:bold">Updated On:</td>
		<td>@Html.DisplayFor(model => model.ModifiedDate, "{0:MM/dd/yyyy}")</td>		
	</tr>
	<tr>
		<td style="font-weight:bold">Cohort Desc:</td>
		<td colspan="4">@Html.DisplayFor(model => model.Description)</td>
		<td style="font-weight:bold">Owner:</td>
		<td>@Html.DisplayFor(model => model.Owner)</td>
	</tr>
	<tr>&nbsp;</tr>
</table>



