@model PHO_WebApp.Models.Cohort

<table width="100%" class="contentRow">
    <thead style="border-top: 1px solid #000">
        <tr><th colspan="6"></th></tr>
        <tr><th colspan="6"></th></tr>
        <tr><th colspan="6"></th></tr>
    </thead>
    <tr>&nbsp;</tr>
    <tr>&nbsp;</tr>
    <tr>
        <td valign="top" style="font-weight:bold; width:120px; max-width:120px;">Cohort Name:</td>
        <td valign="top" style="width:300px; max-width:300px;">@Html.DisplayFor(model => model.Name)</td>
        <td valign="top" style="font-weight:bold; width:100px; max-width:100px;">ABBR: </td>
        <td valign="top" style="width:300px; max-width:300px;">@Html.DisplayFor(model => model.ShortName)</td>
        <td valign="top" style="font-weight:bold; width:100px; max-width:100px;">Updated On:</td>
        <td valign="top" style="width:120px; max-width:120px;">@Html.DisplayFor(model => model.ModifiedDate)</td>
    </tr>
    <tr>
        <td valign="top" style="font-weight:bold; width:120px; max-width:120px;">Cohort Desc:</td>
        <td valign="top" colspan="3">@Html.DisplayFor(model => model.Description)</td>
        <td valign="top" style="font-weight:bold; width:100px; max-width:100px;">Owner:</td>
        <td valign="top" style="width:300px; max-width:300px;">@Html.DisplayFor(model => model.Owner)</td>
    </tr>
    <tr>&nbsp;</tr>
</table>



