@model PHO_WebApp.ViewModel.PatientVM
@{
	ViewBag.Title = "GetPatients";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
	`
	<meta name="viewport" content="width=device-width" />
	<title>Patient Lists</title>
	<link href="~/Content/Site.css" rel="stylesheet" />
	<style>
		input {
			margin-bottom: 10px;
		}
		h3, h5 {
			color: #006D63;
			font-weight: bold;
		}
	</style>
</head>
<body>
	<div>
		<h5>List of Patients</h5>
	</div>
	<div class="col-md-4" style="float:right">
		<h5>Search</h5>
		<input text="" class="form-control search" id="search" />
	</div>
	<br />
	<br />
	@if (Model.IsStaffListAreaVisible)
	{
	<table class="table-hover min-font-set table-bordered col-12" id="tblPatientList">
		<thead class="pretty-table_head">
			<tr>
				<th scope="col">Select</th>
				<th scope="col">First Name</th>
				<th scope="col">Last Name</th>
				<th scope="col">Date of Birth</th>
				<th scope="col">Address</th>
				<th scope="col">City</th>
				<th scope="col">State</th>
				<th scope="col">Zip</th>
				<th scope="col">Condition</th>
				@*<th scope="col">PtId</th>*@
				@*<th>Actions</th>*@
			</tr>
		</thead>
		<tbody class="pretty-table-body-font">
			@foreach (var item in Model.PatientList)
			{
				<tr>
					<td>
						<a href="~/PatientVM/GetPatientDetails?Id=@item.Id">
							<i class="fas fa-check-circle"></i>&nbsp;
						</a>
					</td>
					@*<td>
							<a href="#" data-pdsa-action="SelectPatient" data-pdsa-val="@item.Id" class="btn btn-default btn-sm btn-link">
								<i class="fas fa-edit"></i>
							</a>
						</td>*@

					<td>
						@Html.DisplayFor(modelItem => item.FirstName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.LastName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PersonDOB)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.AddressLine1)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.City)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.State)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Zip)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Condition)
					</td>
				</tr>
			}
		</tbody>

	</table>
	<div>
		<button id="btnAdd" class="btn btn-sm btn-primary pull-right" data-pdsa-action="AddStaff">
			<i class="fas fa-plus-circle"></i>
			&nbsp;Add New Patient
		</button>
	</div>

	<script type="text/javascript">

		$(document).ready(function () {
			//search and filter function
			$('.search').on('keyup', function () {
				var serachTerm = $(this).val().toLowerCase();

				$('#tblPatientList tbody tr').each(function () {
					var str = $(this).text().toLowerCase();

					if (str.indexOf(serachTerm) == -1) {
						$(this).hide();
					}
					else {
						$(this).show();
					}
				});
			});
		}); //end of document.ready
	</script>
</body>
</html>














