@model PHO_WebApp.ViewModel.PatientVM

@{	
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
	`
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<link href="~/Content/Site.css" rel="stylesheet" />
	<style>
		input {
			margin-bottom: 10px;
		}

		h3, h5 {
			color: #006D63;
			font-weight: bold;
		}
	</style>
</head>
<body>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.EventCommand)
        @Html.HiddenFor(m => m.Mode)
        @Html.HiddenFor(m => m.EventArgument)
        @Html.HiddenFor(m => m.UserLogin.PracticeId)
        @Html.HiddenFor(m => m.UserLogin.PracticeName)
        @Html.HiddenFor(m => m.UserLogin.LoginId)
        @Html.HiddenFor(m => m.UserLogin.StaffId)
        @Html.HiddenFor(m => m.UserLogin.UserName)            

        <!--Begin Patient Summary Area -->
        if (Model.IsPatientSummaryAreaVisible)
            {
            <div id="pnlDisplayPatient" class="panel panel-primary col-12">
                <div class="panel-heading">
                    <h2 class="panel-title">Patient Summary</h2>
                </div>
                <div class="panel-body">
                    <div class="row" style="width:100%;">
                        @Html.AntiForgeryToken()
                        
                        <div class="col-sm-6">
                            <div>
                                First Name: @Html.DisplayFor(m => m.ptEntity.FirstName)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                Last Name: @Html.DisplayFor(m => m.ptEntity.LastName)
                                @*@Html.TextBoxFor(m => m.ptEntity.LastName, new { htmlAttributes = new { @class = "form-control" } })*@
                            </div>
                        </div>
                    </div>
                    <div class="row" style="width:100%;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                DOB: @Html.DisplayFor(m => m.ptEntity.PersonDOB)
                                @*@Html.TextBoxFor(m => m.ptEntity.PersonDOB, new { htmlAttributes = new { @class = "form-control" } })*@
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                Gender: @Html.DisplayFor(m => m.ptEntity.Gender)
                                @*@Html.TextBoxFor(m => m.ptEntity.City, new { htmlAttributes = new { @class = "form-control" } })*@
                            </div>
                        </div>
                    </div>

                    <div class="row" style="width:100%;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                Email: @Html.DisplayFor(m => m.ptEntity.EmailAddress)
                                @*@Html.TextBoxFor(m => m.ptEntity.PersonDOB, new { htmlAttributes = new { @class = "form-control" } })*@
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                Phone: @Html.DisplayFor(m => m.ptEntity.Phone1)
                                @*@Html.TextBoxFor(m => m.ptEntity.City, new { htmlAttributes = new { @class = "form-control" } })*@
                            </div>
                        </div>
                    </div>

                    <div class="row" style="width:100%;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                Address: @Html.DisplayFor(m => m.ptEntity.AddressLine1)
                                @*@Html.TextBoxFor(m => m.ptEntity.PersonDOB, new { htmlAttributes = new { @class = "form-control" } })*@
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                City: @Html.DisplayFor(m => m.ptEntity.City)
                                @*@Html.TextBoxFor(m => m.ptEntity.City, new { htmlAttributes = new { @class = "form-control" } })*@
                            </div>
                        </div>
                    </div>

                    <div class="row" style="width:100%;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                State: @Html.DisplayFor(m => m.ptEntity.State)
                                @*@Html.TextBoxFor(m => m.ptEntity.PersonDOB, new { htmlAttributes = new { @class = "form-control" } })*@
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                Zip: @Html.DisplayFor(m => m.ptEntity.Zip)
                                @*@Html.TextBoxFor(m => m.ptEntity.City, new { htmlAttributes = new { @class = "form-control" } })*@
                            </div>
                        </div>
                    </div>

                    <div class="row" style="width:100%;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                Condition: @Html.DisplayFor(m => m.ptEntity.Condition)
                                @*@Html.TextBoxFor(m => m.ptEntity.PersonDOB, new { htmlAttributes = new { @class = "form-control" } })*@
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                Insurance: @Html.DisplayFor(m => m.ptEntity.InsurerId)
                                @*@Html.TextBoxFor(m => m.ptEntity.City, new { htmlAttributes = new { @class = "form-control" } })*@
                            </div>
                        </div>
                    </div>

                    <div class="row" style="width:100%;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                PCP's First Name: @Html.DisplayFor(m => m.ptEntity.PCP_FirstName)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                PCP's Last Name: @Html.DisplayFor(m => m.ptEntity.PCP_LastName)
                            </div>
                        </div>
                    </div>
                    <div class="row" style="width:100%;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                PMCA Score: @Html.DisplayFor(m => m.ptEntity.PMCAScore)
                                @*@Html.TextBoxFor(m => m.ptEntity.PersonDOB, new { htmlAttributes = new { @class = "form-control" } })*@
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                PMCA Score from Provider: @Html.DisplayFor(m => m.ptEntity.ProviderPMCAScore)
                                @*@Html.TextBoxFor(m => m.ptEntity.City, new { htmlAttributes = new { @class = "form-control" } })*@
                            </div>
                        </div>
                    </div>
                    <div class="row" style="width:100%;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                PMCA Score notes: @Html.DisplayFor(m => m.ptEntity.ProviderPMCANotes)
                                @*@Html.TextBoxFor(m => m.ptEntity.PersonDOB, new { htmlAttributes = new { @class = "form-control" } })*@
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                Provider's Name for PMCA Score: @Html.Raw(string.Format("{0},{1}", Model.ptEntity.PMCA_ProvLast, Model.ptEntity.PMCA_ProvLast))
                                @*@Html.TextBoxFor(m => m.ptEntity.City, new { htmlAttributes = new { @class = "form-control" } })*@
                            </div>
                        </div>
                    </div>

                    <div>
                        @*<button id="btnEdit" class="btn btn-sm btn-primary pull-right" data-pdsa-action="EditPatient">*@
                        <button id="btnEdit" class="btn btn-sm btn-primary pull-right" >
                            <i class="fas fa-edit">Edit</i>
                            &nbsp;
                        </button>
                    </div>

                    @*<div class="panel-footer">
            <div class="row">
                <div class="col-sm-12">
                    <button id="btnSave" class="btn btn-sm btn-primary" data-pdsa-action="SavePatient">
                        <i class="fas fa-save"></i>&nbsp;Save
                    </button>
                    <button id="btnCancel" class="btn btn-sm btn-primary" formnovalidate="formnovalidate" data-pdsa-action="cancel">
                        <i class="fas fa-strikethrough"></i>&nbsp;Cancel
                    </button>
                </div>
            </div>
        </div>*@

                </div>
            </div>
           
        }
        <!--End Patient Summary-->

        <!--Begin Edit Patient Summary Area -->
        if (Model.IsPatientSummaryEditAreaVisible)
        {

            <div id="pnlEditPatient" class="panel panel-primary col-12">
                <div class="panel-heading">
                    <h2 class="panel-title">Patient Summary</h2>
                </div>
                <div class="panel-body">
                    <div class="row" style="width:100%;">
                        @Html.AntiForgeryToken()
                        <div class="col-sm-6">
                            <div>
                                First Name: @Html.TextBoxFor(m => m.ptEntity.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                Last Name: @Html.TextBoxFor(m => m.ptEntity.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="row" style="width:100%;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                DOB: @Html.TextBoxFor(m => m.ptEntity.PersonDOB, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                Gender: @Html.TextBoxFor(m => m.ptEntity.City, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>

                    <div class="row" style="width:100%;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                Email: @Html.TextBoxFor(m => m.ptEntity.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                Phone: @Html.TextBoxFor(m => m.ptEntity.Phone1, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>

                    <div class="row" style="width:100%;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                Address:@Html.TextBoxFor(m => m.ptEntity.AddressLine1, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                City: @Html.TextBoxFor(m => m.ptEntity.City, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>

                    <div class="row" style="width:100%;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                State: @Html.TextBoxFor(m => m.ptEntity.State, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                Zip: @Html.TextBoxFor(m => m.ptEntity.Zip, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button id="btnSave" class="btn btn-sm btn-primary" data-pdsa-action="SavePatient">
                                <i class="fas fa-save"></i>&nbsp;Save
                            </button>
                            <button id="btnCancel" class="btn btn-sm btn-primary" formnovalidate="formnovalidate" data-pdsa-action="cancel">
                                <i class="fas fa-strikethrough"></i>&nbsp;Cancel
                            </button>
                        </div>
                    </div>
                </div>*@
        }

        <!--End Edit Patient Summary Area -->


        <!--Begin Patient List Area -->
        if (Model.IsPatientListAreaVisible)
        {
            <div>
                <h5>List of Patients</h5>
            </div>
            <div class="col-md-4" style="float:right">
                <h5>Search</h5>
                <input text="" class="form-control search" id="search" />
            </div>
            <table id="tblPatientList" class="table-hover min-font-set table-bordered col-md-12">
                <thead class="pretty-table_head">
                    <tr>
                        <th>
                            Select
                        </th>
                        <th scope="col">
                            First Name
                        </th>
                        <th scope="col">
                            Last Name
                        </th>
                        <th scope="col" align="center">
                            DOB
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            State
                        </th>
                        <th>
                            Zip
                        </th>
                        <th scope="col" style="width:12%">
                            Condition
                        </th>
                    </tr>
                </thead>
                <tbody class="pretty-table-body-font">
                    @foreach (var item in Model.PatientList)
                    {
                        <tr>
                            <td>
                                <a href="#" data-pdsa-action="SelectPatient" data-pdsa-val="@item.Id" class="btn btn-default btn-sm btn-link">
                                    <i class="fas fa-check-circle"></i>&nbsp;
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PersonDOB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AddressLine1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.State)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Zip)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Condition)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <!--End Patient List Area -->
    }


    <script type="text/javascript">
        $(document).ready(function () {

            $("#btnEdit").click(function () {
                e.preventDefault();
                $("#pnlDisplayPatient").hide();
                $("#pnlEditPatient").show();
            });

            $('.search').on('keyup', function () {
                var serachTerm = $(this).val().toLowerCase();

                $('#tblPatientList tbody tr').each(function () {
                    var str = $(this).text().toLowerCase();

                    if (str.indexOf(serachTerm) == -1) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });
            });

            $("[data-pdsa-action]").on("click", function (e) {
                e.preventDefault();

                $("#EventCommand").val($(this).data("pdsa-action"));
                $("#EventArgument").val($(this).data("pdsa-val"));
                $("form").submit();
            });

            $("#Delete").on("click", function (e) {
                e.preventDefault();

                var choice = confirm($(this).attr('data-confirm'));

                if (choice) {
                    window.location.href = $(this).attr('href');
                }
                else {
                    return false;
                }
            });           
        });
    </script>
</body>
</html>


