@model PHO_WebApp.Models.Staff

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Staff</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.StaffId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StaffId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmailAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ActiveFlag)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ActiveFlag)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DeletedFlag)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DeletedFlag)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StaffTypeId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StaffTypeId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedbyId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedbyId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedOnDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedOnDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ModifiedbyId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ModifiedbyId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ModifiedDate)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
