@model IEnumerable<PHO_WebApp.Models.Staff>
@*@model IEnumerable<PHO_WebApp.Models.StaffType>*@

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>	
	<link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
	<table class="table-hover min-font-set">
		<thead>			
			<tr>
				@*<th>
			@Html.DisplayNameFor(model => model.Id)
		</th>*@
				<th scope="col" class="thead-dark">
					First Name
					@*@Html.DisplayNameFor(model => model.FirstName)*@
				</th>
				<th scope="col">
					Last Name
					@*@Html.DisplayNameFor(model => model.LastName)*@
				</th>
				<th scope="col" align="center">
					Registry
					@*@Html.DisplayNameFor(model => model.UserName)*@
				</th>
				<th scope="col">
					Cred
				</th>
				<th>
					Email
				</th>
				<th scope="col" style="width:15%">
					Phone
				</th>
				<th align="center" scope="col">
					QI Lead
					@*@Html.DisplayNameFor(model => model.LeadPhysician)*@
				</th>
				<th align="center" scope="col">
					@Html.DisplayNameFor(model => model.QI_Team)
				</th>
				<th align="center" scope="col">
					Prac. Mgr
					@*@Html.DisplayNameFor(model => model.PracticeManager)*@
				</th>
				<th align="center" scope="col">
					Intrv.Ctact
					@*@Html.DisplayNameFor(model => model.InterventionContact)*@
				</th>
				<th scope="col">
					Position
				</th>
				@*<th>
			@Html.DisplayNameFor(model => model.AddressLine1)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.City)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.State)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Zip)
		</th>*@
				@*<th>
			@Html.DisplayNameFor(model => model.ActiveFlag)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.DeletedFlag)
		</th>*@
				@*<th>
			@Html.DisplayNameFor(model => model.StaffTypeId)
		</th>*@

				@*<th>
			@Html.DisplayNameFor(model => model.ModifiedbyId)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ModifiedDate)
		</th>*@
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
			<tr>
				@*<td>
			@Html.DisplayFor(modelItem => item.Id)
		</td>*@
				<td>
					@Html.DisplayFor(modelItem => item.FirstName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LastName)
				</td>
				<td align="center">
					@Html.DisplayFor(modelItem => item.RegistryAccess)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CredName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EmailAddress)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Phone)
				</td>
				<td align="center">
					@Html.DisplayFor(modelItem => item.LeadPhysician)
				</td>
				<td align="center">
					@Html.DisplayFor(modelItem => item.QI_Team)
				</td>
				<td align="center">
					@Html.DisplayFor(modelItem => item.PracticeManager)
				</td>
				<td align="center">
					@Html.DisplayFor(modelItem => item.InterventionContact)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.StaffPosition)
				</td>
				@*<td>
			@Html.DisplayFor(modelItem => item.AddressLine1)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.City)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.State)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Zip)
		</td>*@

				@*<td>
			@Html.DisplayFor(modelItem => item.StaffTypeId)
		</td>*@

				@*<td>
			@Html.DisplayFor(modelItem => item.ModifiedbyId)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.ModifiedDate)
		</td>*@
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
					@*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
					@Html.ActionLink("Delete", "Delete", new { id = item.Id })
				</td>
			</tr>
			}
		</tbody>

	</table>
</body>
</html>
