@using PHO_WebApp.Models;
@model PHO_WebApp.Models.FormSection
@{
    Layout = null;
}

@Html.HiddenFor(m => m.FormSectionId)
@Html.HiddenFor(m => m.Order)

@for (var i = 0; i < Model.Sections.Count(); i++)
{

    @Html.HiddenFor(model => model.Sections[i].PropagationTypeId)

    if (!string.IsNullOrWhiteSpace(Model.Header))
    {
        <div>
            <h4>@Html.Label(Model.Header)</h4>

            @if (!string.IsNullOrWhiteSpace(Model.Description))
            {
                <p><i>@(Model.Description)</i></p>
            }
        </div>
    }

    @Html.EditorFor(m => m.Sections[i])
}