@using PHO_WebApp.Models;
@model PHO_WebApp.Models.Question

@{
    Layout = null;
}

@Html.HiddenFor(m => m.QuestionId)
@Html.HiddenFor(m => m.Response.QuestionId)
@if (Model.QuestionType.ToUpper() == "TEXTBOX")
{
<tr>
    <td>@Html.Label(Model.QuestionLabel.ToString())</td>
    <td>
        @Html.TextBoxFor(q => q.Response.Response_Text)
        @*@Html.ValidationMessageFor(q => q.Response.Response_Text, null, new { @class = "validationText" })*@
    </td>
</tr>
}
@if (Model.QuestionType.ToUpper() == "TEXTBOXNUMERIC")
{
<tr>
    <td>@Html.Label(Model.QuestionLabel.ToString())</td>
    <td>
        @Html.TextBoxFor(q => q.Response.Response_Text, new { @type = "number" })
        @*@Html.ValidationMessageFor(q => q.Response.Response_Text, null, new { @class = "validationText" })*@
    </td>
</tr>
}
@if (Model.QuestionType.ToUpper() == "DROPDOWNLIST" && Model.Response != null && Model.Response.ResponseAnswer != null)
{
<tr>
    <td>@Html.Label(Model.QuestionLabel.ToString())</td>
    <td>
        @Html.DropDownListFor(
        x => x.Response.ResponseAnswer.AnswerOptionId,
        new SelectList(Model.QuestionAnswerOptions, "QuestionAnswerOptionId", "QuestionAnswerOptionLabel"),
        "-- Select Severity --",
        new
        {
        id = "SeverityDropdownList"
        }
        )
        @*@Html.ValidationMessageFor(x => x.Response.ResponseAnswer.AnswerOptionId, null, new { @class = "validationText" })*@
    </td>
</tr>
}
@if (Model.QuestionType.ToUpper() == "RADIOBUTTONLIST" && Model.Response != null && Model.Response.ResponseAnswer != null)
{
    <tr>
        <td>@Html.Label(Model.QuestionLabel.ToString())</td>
        <td>
            @foreach (QuestionAnswerOption q in Model.QuestionAnswerOptions)
            {
                <div>
                    <label>
                        @Html.RadioButtonFor(m => m.Response.ResponseAnswer.AnswerOptionId, q.QuestionAnswerOptionId)
                        @q.QuestionAnswerOptionId
                    </label>
                </div>
            }
            @*@Html.ValidationMessageFor(m => m.Response.ResponseAnswer.AnswerOptionId, null, new { @class = "validationText" })*@
        </td>
    </tr>
}