@using PHO_WebApp.Models;
@model PHO_WebApp.Models.Section
@{
    Layout = null;
}


@Html.HiddenFor(model => model.SectionId)
@Html.HiddenFor(model => model.SectionDescription)
@Html.HiddenFor(model => model.SectionHeader)
@Html.HiddenFor(model => model.SectionUniqueId)
<div>
    <h4>@Html.Label(Model.SectionHeader)</h4>
</div>

@if (!string.IsNullOrWhiteSpace(Model.SectionDescription))
{
    <p><i>@(Model.SectionDescription)</i></p>
}

@Html.Partial("_PhysicianLink", Model)

    <div class="card card-body">
         @for (var i = 0; i < Model.SectionQuestions.Count(); i++)
         { 
             @Html.EditorFor(model => Model.SectionQuestions[i])  
         }
    </div>
         
@Html.Partial("_CloneSection", Model)
<br />

