@using PHO_WebApp.Models;
@model PHO_WebApp.Models.Section
@{
    Layout = null;
}


@Html.HiddenFor(model => model.SectionId)
@Html.HiddenFor(model => model.SectionDescription)
@Html.HiddenFor(model => model.SectionHeader)
@Html.HiddenFor(model => model.SectionUniqueId)

@if (!string.IsNullOrWhiteSpace(Model.SectionHeader))
{
    <div>
        <h5>@Html.Label(Model.SectionHeader)</h5>

        @if (!string.IsNullOrWhiteSpace(Model.SectionDescription))
        {
            <p><i>@(Model.SectionDescription)</i></p>
        }
    </div>
}


@Html.Partial("_PatientLink", Model)
@Html.Partial("_PhysicianLink", Model)

<div>
    @for (var i = 0; i < Model.SectionQuestions.Count(); i++)
    {
        @Html.EditorFor(model => Model.SectionQuestions[i])
    }
</div>

@Html.Partial("_CloneSection", Model)
<br />




