@model PHO_WebApp.ViewModel.PracticeAdmin

@{
		Layout = "~/Views/Shared/_Layout.cshtml";
	}

<!DOCTYPE html>

<html>
<head>`	
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<link href="~/Content/Site.css" rel="stylesheet" />	
</head>
<body>

	@using (Html.BeginForm())
	{
		@Html.HiddenFor(m => m.EventCommand)
		@Html.HiddenFor(m => m.Mode)
		@Html.HiddenFor(m => m.EventArgument)
		@Html.HiddenFor(m => m.UserLogin.PracticeId)
		@Html.HiddenFor(m => m.UserLogin.PracticeName)
		@Html.HiddenFor(m => m.UserLogin.LoginId)
		@Html.HiddenFor(m => m.UserLogin.StaffId)
		@Html.HiddenFor(m => m.UserLogin.UserName)

		<!--Begin Staff Details Area for Creating a new staff-->
		if (Model.IsStaffDetailsAreaVisible)
		{
			<div class="panel panel-primary" style="width:100%">
				<div class="panel-heading">
					<h2 class="panel-title">Staff Information</h2>
				</div>
				<div class="panel-body">
					<!--Begin message area-->
					@*<div class="row">
							<div class="col-sm-12">
								@if (!Model.IsValid)
								{
									<div class="alert alert-danger alert-dismissable" role="alert">
										<button type="button" class="close" data-dismiss="alert">
											<span area-hidden="true">
												&times;
											</span>
											<span class="sr-only">Close</span>
										</button>
										@Html.ValidationSummary(false)
									</div>
								}
							</div>
						</div>*@
					<!--End message area-->
					<div class="form-group">
						@Html.LabelFor(m => m.Entity.FirstName, "First Name")
						@Html.TextBoxFor(m => m.Entity.FirstName, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Entity.FirstName, null, new { @class = "validationText" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Entity.LastName, "Last Name")
						@Html.TextBoxFor(m => m.Entity.LastName, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Entity.LastName, null, new { @class = "validationText" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Entity.EmailAddress, "Email")
						@Html.TextBoxFor(m => m.Entity.EmailAddress, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Entity.EmailAddress, null, new { @class = "validationText" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Entity.Phone, "Phone Number")
						@Html.TextBoxFor(m => m.Entity.Phone, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Entity.Phone, null, new { @class = "validationText" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Entity.AddressLine1, "AddressLine1")
						@Html.TextBoxFor(m => m.Entity.AddressLine1, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Entity.AddressLine1, null, new { @class = "validationText" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Entity.AddressLine2, "AddressLine2")
						@Html.TextBoxFor(m => m.Entity.AddressLine2, new { @class = "form-control" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Entity.City, "City")
						@Html.TextBoxFor(m => m.Entity.City, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Entity.City, null, new { @class = "validationText" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Entity.State, "State")
						@Html.TextBoxFor(m => m.Entity.State, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Entity.State, null, new { @class = "validationText" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Entity.NPI, "NPI")
						@Html.TextBoxFor(m => m.Entity.NPI, new { @class = "form-control" })
					</div>

					@*<div class="form-group">
							@Html.LabelFor(m => m.Entity.PracticelocationId, "PracticeLocationId")
							@Html.TextBoxFor(m => m.Entity.PracticelocationId, new { @class = "form-control" })
						</div>
						<div>
							@Html.DropDownListFor(m => m.Entity.PracticelocationId, new SelectList(Model.AllInitiativeStatuses, "id", "Name"), "-- Select Status --", new { id = "StatusDropdownList" })

						</div>*@
				</div>
				<div class="panel-footer">
					<div class="row">
						<div class="col-sm-12">
							<button id="btnSave" class="btn btn-sm btn-primary" data-pdsa-action="SaveStaff">
								<i class="fas fa-save"></i>&nbsp;Save
							</button>
							<button id="btnCancel" class="btn btn-sm btn-primary" formnovalidate="formnovalidate" data-pdsa-action="cancel">
								<i class="fas fa-strikethrough"></i>&nbsp;Cancel
							</button>
						</div>
					</div>
				</div>

			</div>
		}
		<!--End Staff Details Area for Creating a new staff-->

		if (Model.IsStaffListAreaVisible)
		{
			<table class="table-hover min-font-set table-bordered">
				<thead class="pretty-table_head">
					<tr>
						<th>
							Edit
							@*@Html.DisplayNameFor(model => model.Id)*@
						</th>
						<th scope="col">
							First Name
						</th>
						<th scope="col">
							Last Name
						</th>
						<th scope="col" align="center">
							Registry
						</th>
						<th scope="col">
							Cred
						</th>
						<th>
							Email
						</th>
						<th scope="col" style="width:12%">
							Phone
						</th>
						<th align="center" scope="col">
							QI Lead
						</th>
						<th align="center" scope="col">
							QI_Team
						</th>
						<th align="center" scope="col">
							Prac. Mgr
						</th>
						<th align="center" scope="col">
							Intrv.Ctact
						</th>
						<th scope="col">
							Position
						</th>
						<th scope="col">
							NPI
						</th>
						<th>Delete</th>
						@*<th>
								@Html.DisplayNameFor(model => model.AddressLine1)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.City)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.State)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Zip)
							</th>*@

					</tr>
				</thead>
				<tbody class="pretty-table-body-font">
					@*@foreach (var itemPracAdmin in Model)
						{*@
					@foreach (var item in Model.PracStaff)
					{
						<tr>

							@*<td hidden>
									@Html.HiddenFor(modelItem => item.Id)
								</td>*@
							<td>
								<a href="#" data-pdsa-action="EditStaff" data-pdsa-val="@item.Id" class="btn btn-default btn-sm btn-link">
									@*<i class="glyphicon glyphicon-edit"></i>*@
									<i class="fas fa-edit"></i>
								</a>
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.FirstName)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.LastName)
							</td>
							<td align="center">
								@Html.DisplayFor(modelItem => item.RegistryAccess)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.CredName)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.EmailAddress)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Phone)
							</td>
							<td align="center">
								@Html.DisplayFor(modelItem => item.LeadPhysician)
							</td>
							<td align="center">
								@Html.DisplayFor(modelItem => item.QI_Team)
							</td>
							<td align="center">
								@Html.DisplayFor(modelItem => item.PracticeManager)
							</td>
							<td align="center">
								@Html.DisplayFor(modelItem => item.InterventionContact)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.StaffPosition)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.NPI)
							</td>
							@*<td>
									@Html.DisplayFor(modelItem => item.AddressLine1)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.City)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.State)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Zip)
								</td>*@

							<td class="pdsa-action-button-column">
								<a href="#" id="Delete" data-pdsa-action="DeleteStaff" data-pdsa-val="@item.Id" class="btn btn-default btn-sm btn-link"
								   onclick="return confirm('Are you sure you want to delete this staff from your practice?');">
									<i class="fas fa-trash-alt"></i>
								</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
			<div>
				<button id="btnAdd" class="btn btn-sm btn-primary pull-right" data-pdsa-action="AddStaff">
					<i class="fas fa-plus-circle"></i>
					&nbsp;Add New Staff
				</button>
			</div>
		}


	}

	<script type="text/javascript">
		$(document).ready(function () {
			$("[data-pdsa-action]").on("click", function (e) {
				e.preventDefault();

				$("#EventCommand").val($(this).data("pdsa-action"));
				$("#EventArgument").val($(this).data("pdsa-val"));
				$("form").submit();
			});

			$("#Delete").on("click", function (e) {
				e.preventDefault();

				var choice = confirm($(this).attr('data-confirm'));

				if (choice) {
					window.location.href = $(this).attr('href');
				}
				else {
					return false;
				}
			});
		});
	</script>
</body>
</html>



				


