@using PHO_WebApp.Controllers;
@using PHO_WebApp.Models;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PHO Registry</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    <link href="https://fonts.googleapis.com/css?family=Arvo|Nunito+Sans&display=swap" rel="stylesheet">

</head>
<body>

    <div class="container navbar navbar-default navbar-static-top Header--top Header-nav">
        <div class="navbar-header top-left">
            <a href="@Url.Action("Index", "Home")"><img class="header-branding-logo" src="~/Images/TSCHS_LOGO_CMYK.jpg" style="width:225px; height:67px" /></a>
        </div>
        <nav class="Header-nav Header-nav--primary top-right" data-nc-container="top-right">
            <ul class="nav navbar-nav">
                @{
                    if (@SharedLogic.IsAuthenticated(new StaffTypeEnum[] { StaffTypeEnum.CCHMC_IS, StaffTypeEnum.PHO_Staff }, Session["UserDetails"]))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Quality Improvement
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Network Dashboard</a></li>
                                <li>@Html.RouteLink("Practice Dashboard", "PracticeDashboard", null, new { })</li>
                                <li><a href="#">Quarterly Reports</a></li>
                                <li>@Html.RouteLink("Initiatives", "Initiative", null, new { })</li>
                                <li>@Html.RouteLink("Cohorts", "Cohort", null, new { })</li>
                                <li>@Html.RouteLink("Measures", "Measure", null, new { })</li>
                                <li><a href="#">Operational Reports</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Data Collection Tools
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.RouteLink("Workbooks", "Survey", null, new { })</li>
                                <li>@Html.RouteLink("Patient Questionnaires", "Survey", null, new { })</li>
                                <li>@Html.RouteLink("Practice Forms", "Survey", null, new { })</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Resources
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Data Governance</a></li>
                                <li><a href="#">PHO Communications</a></li>
                                <li><a href="#">Operations</a></li>
                                <li><a href="#">Quality Improvement</a></li>
                                <li><a href="#">CCHMC General</a></li>
                                <li><a href="#">Education Provider Knowledge</a></li>
                                <li><a href="#">Calendar</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                My Practice
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Patients</a></li>
                                <li><a href="#">Staff &amp; Users</a></li>
                                <li><a href="#">Alerts &amp; Subscriptions</a></li>
                                <li><a href="#">Practice Info</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Admin
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Practice Admin</a></li>
                                <li><a href="#">QI Admin</a></li>
                                <li><a href="#">User Admin</a></li>
                                <li><a href="#">Alert Admin</a></li>
                                <li>@Html.RouteLink("Data Dictionary", "DataDictionary", null, new { })</li>
                                <li><a href="#">Comments &amp; Content</a></li>
                                <li><a href="#">Operations (Misc.)</a></li>
                            </ul>
                        </li>

                    }
                }
                <li>@Html.Action("LoggedInAs", "Login")</li>
                @*@Html.Partial("LoggedInAs")*@
            </ul>


        </nav>

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="content-footer">
            <p>&copy; @DateTime.Now.Year Tri-State Child Health Services - All rights reserved.</p>
        </footer>
    </div>
    <div id='divLogon' style='z-index:10000'>
    </div>
</body>
</html>

